
@{
    ViewBag.Title = "AboutMe";
}


<h1>My biography</h1>
<h2>Eloise Dyson</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
            <h4>Biography</h4>
            <p>
                I am Eloise Dyson, I am a 19 year old student who lives in Pretoria and grew up in Ladysmith, Kwa-Zulu Natal.<br />
                I am currently a second year BCom Statistics and Data Science student. The high school that I went to is a good small<br />
                town school, but I we only had a few subjects to choose from and IT was not one of them. So coming to university I had <br />
                no idea how to code at all. During my holiday between high school and starting university I took an online course in Python, <br />
                I guess trying to learn an entire language in just two months was more difficult than I thought, so I still did not know <br />
                a lot about programming when I came to uni.
                <br />
                <br />
                Being a busy student in high school was much easier for me than now in uni. I took part in most sports and excelled in running,<br />
                cycling and hockey the most. I was a top academic student as well, I knew how to study effectively. I took part in culture <br />
                activities and did well since I have confidence and enjoy talking infront of people about a topic I am well informed about.
                <br />
                <br />
                Now that I am a second year student in the University of Pretoria, I find my daily activities limited to university work.<br />
                It is difficult trying to get good grades, working out and socialising with friends. I do try to do this, but as a student <br />
                it is important to sacrifice fun moments now and rather work harder now to have a comfortable life when I'm older.<br />
                Getting good grades at university level is much harder than one might think, but it is important to just work hard, get help<br />
                and not beat yourself up when your average is lower than you are used to and to not think less of yourself as a person.<br />
                <br />
                <br />
                I have a few interests in my life. I enjoy making beaded jewelry, I get inspiration from Pinterest. I love taking photos, <br />
                I recently got an old point-and-shoot film camera from my sister and I enjoy just capturing memories of special people in <br />
                my life and the amazing nature. I would say a hobby I have is going to a coffee shop weekly with my sister. <br />
                I am also very fond of working out.<br />

            </p>
        </div>
        <div class="col-sm-6" style="background-color:lavenderblush;">
            <img class="img-fluid" src="~/images/Eloise.jpg" alt="Photo">
        </div>
    </div>
    
</div>


