
@{
    ViewBag.Title = "Files";
}


<div class="container">
    <h2>Files</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Download Option</th>
                <th>Delete Option</th>
            </tr>
            <tr>
                <td>
                   
                </td>
            </tr>
        </thead>
